<div class="container">
	<div class="row">
		<div class="main-content">
			<h1>Welcome</h1>
			<div class="links-left">
				<ul>
					<li>Name {{name}}</li>
					<li>Email{{email}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>