<div class="container">
	<div class="row main-hompage">
		<div class="main-content">
			<div class="links-left">
				<a href="/login">Login</a>
				<a class="myreg" href="/register">Register</a>
			</div>
		</div>
		<form action="/logout" method="post">
			<button>logout</button>
		</form>

	</div>
</div>